.intagrated__page.custom-html.ch-wrapper {
    justify-content: center;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
.content__music-inside {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
.content__music-inside a:not([class]) {
    text-decoration: revert;
    color: black;
}

.parallax-window {
    min-height: 800px;
    background: transparent;
}

.intersection {
    transition: ease-out transform 1s,
                ease-in opacity 1.5s;
}

.content__music-inside .container__music {
    max-width: 1512px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.content__music-inside img {
    max-width: 100%;
    max-height: 100%;
}

.music-inside {
    padding: 86px 186px;
}

.content__music-inside input,
.content__music-inside button,
.content__music-inside textarea,
.content__music-inside select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    .content__music-inside {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.content__music-inside p {
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
}

.music__main_block {
    background: url("main-block-img.png");
    text-align: center;
    padding: 245px;
}

.display-text-mobile {
    display: none;
}

.music__main_block h2 {
    font-weight: 600;
    font-size: 68px;
    line-height: 110%;
    color: #FFFFFF;
}

.main-music-h3 {
    font-weight: 600;
    font-size: 52px;
    line-height: 130%;
    color: #FFFFFF;
}

.music-h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
}

.music__main_text p {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 120%;
}

.float-right {
    float: right;
    margin-left: 50px;
}

.float-left {
    float: left;
    margin-right: 50px;
}

.video-music__main_text {
    float: left;
    width: 605px;
    height: 340px;
    margin: 0 57px 40px 0;
}

.music__inspiration_block {
    background: #FAF5FF;
}

.music__inspiration_block img {
    position: relative;
    z-index: 2;
}

.music__inspiration_block div {
    padding: 24px 0;
    margin-bottom: 24px;
    position: relative;
    opacity: 0;
}

.music__inspiration_block div:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 200%;
    background: white;
    z-index: 0;
}

.music__inspiration_block p {
    position: relative;
    margin-bottom: 30px;
    z-index: 2;
}

.music__inspiration_block > p:last-child {
    margin-bottom: 0;
}

.music__inspiration_block .music-h3 {
    margin-bottom: 27px;
    padding-right: 490px;
    transform: translateX(-1250px);
    opacity: 0;
}


@media screen and (min-width: 1400px) {
    .music__macbook-advantages p,
    .music__macbook-advantages div {
        transform: translateX(-1250px);
        opacity: 0;
    }
}

.frameworks .music-h3 span {
    transform: translateY(-1250px);
    opacity: 0;
    display: block;
}

.frameworks-recommendations h3 span {
    transform: translateY(-500px);
    opacity: 0;
    display: block;
}

.program-macos h3 span {
    transform: translateY(-500px);
    opacity: 0;
    display: block;
    margin-bottom: 40px;
}

.for-creating-tracks h3 span {
    transform: translateX(-500px);
    opacity: 0;
    display: block;
}

.music__macbook {
    background: white;
    padding-bottom: 68px;
    position: relative;
}

@media screen and (min-width: 1400px) {
    .music__macbook {
        margin-left: 186px;
        padding-top: 60px;
        padding-left: 0;
    }

    .music__macbook:before {
        content: "";
        display: block;
        z-index: 1;
        position: absolute;
        top: 0;
        left: -186px;
        width: 186px;
        height: 100%;
        background: #FAF5FF;
    }

    .music__macbook h3 {
        margin-left: 80px;
    }
}

.music__macbook h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    color: #484848;
    font-style: normal;
}

.music__macbook-advantages {
    margin-top: 38px;
}

.big-font {
    color: black;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 120%;
    margin-bottom: 9px;
    display: flex;
    align-items: center;
}

.big-font span,
.big-font svg {
    margin-right: 12px;
}

/*.music__macbook-advantages .big-font {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

.music__macbook-advantages p {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: #484848;
    margin-bottom: 25px;
}

.frameworks h3 {
    margin-bottom: 30px;
    font-size: 38px;
}

.frameworks p {
    margin-bottom: 18px;
}

.music-center {
    text-align: center;
}

.frameworks-recommendations {
    background: #FAF5FF;
    display: flex;
    padding-left: 0;
}

.frameworks-recommendations__preview {
    max-width: 686px;
    min-width: 686px;
    width: 100%;
    margin-right: 56px;
}

.frameworks-recommendations__preview img {
    width: 100%;
}

.frameworks-recommendations__preview--mobile {
    display: none;
}

.frameworks-recommendations h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    color: #484848;
    margin-bottom: 17px;
}

.frameworks-recommendations p {
    margin-bottom: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
}

.program-macos {
    padding-top: 60px;
    overflow: hidden;
}

.program-macos h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
}

.program-macos p {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
}

.program-macos .p-last-child {
    margin-top: 34px;
    /*margin-bottom: 100px;*/
}

.program-macos__items {
    display: flex;
    flex-wrap: wrap;
}

.program-macos__item {
    width: calc(50% - 30px);
    height: 50%;
    padding: 30px 35px;
    background: #FAF5FF;
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px;
}

.program-macos__item span {
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin-right: 10px;
}

/*.program-macos__item .big-font {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

.program-macos__item:nth-child(1),
.program-macos__item:nth-child(4) {
    opacity: 0;
}

.program-macos__item:nth-child(2) p,
.program-macos__item:nth-child(3) p {
    transform: translateX(-3400px);
    opacity: 0;
}

.program-macos__item:before {
    position: absolute;
    height: 100%;
    width: 1000px;
    background: #FAF5FF;
    top: 0;
    z-index: -1;
}

.program-macos__item:nth-child(1):before {
    content: "";
    right: 0;
}

.program-macos__item:nth-child(4):before {
    content: "";
    left: 0;
}

.for-creating-tracks__content-block .float-left {
    margin-top: 12px;
}

.for-creating-tracks h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 40px;
}

.for-creating-tracks__content-block p {
    margin-bottom: 28px;
}

.in-detail {
    background: #FAF5FF;
}

.in-detail p {
    margin-bottom: 16px;
}

.video-in-detail {
    margin: 30px auto 0;
    display: block;
    width: 100%;
    height: 500px;
}

.display-img-desktop {
    margin: 96px 0;
}

.display-img-mobile {
    display: none;
}


    /*.program-macos__item:nth-of-type(even) {*/
    /*    margin-right: 30px;*/
    /*}*/

@media screen and (max-width: 1250px) {
    .music__main_block h2 {
        font-size: 50px;
    }

    .main-music-h3 {
        font-size: 37px;
    }

    .music__main_text p {
        font-size: 22px;
        margin-bottom: 8px;
    }

    .video-music__main_text {
        float: left;
        width: 500px;
        height: 300px;
        margin: 0 27px 10px 0;
    }

    .music__main_text {
        margin-bottom: 0;
    }

    .music-inside {
        padding: 40px 64px;
    }

    .content__music-inside p {
        font-size: 20px;
    }

    .float-right {
        margin-left: 8px;
        margin-bottom: 4px;
    }

    .content__music-inside .container__music {
        max-width: 1250px;
    }

    .music__macbook h3 {
        font-size: 26px;
    }

    .float-left {
        margin-right: 18px;
    }

    .frameworks h3 {
        font-size: 32px;
    }

    .frameworks-recommendations__preview--mobile {
        display: block;
        margin-bottom: 14px;
        max-width: calc(100% + 52px);
        min-width: calc(100% + 52px);
        margin-left: -26px;
    }

    .frameworks-recommendations__preview--desktop {
        display: none;
    }

    .frameworks-recommendations h3 {
        font-size: 28px;
    }

    .program-macos h3 {
        font-size: 30px;
    }

    .program-macos h3 span {
        margin-bottom: 32px;
    }

    .program-macos__item {
        width: 75%;
    }

    .program-macos__items {
        justify-content: center;
    }

    .program-macos__item:nth-child(1),
    .program-macos__item:nth-child(3) {
        margin-right: 32px;
    }

    .music__main_block {
        padding: 180px 150px;
    }

    .music__inspiration_block .music-h3 {
        transform: translateX(-250px);
        padding-right: 0;
    }

    .for-creating-tracks h3 {
        font-size: 32px;
    }

    .big-font {
        font-size: 24px;
    }
}

@media screen and (max-width: 960px) {
    .float-left,
    .float-right {
        display: block;
        float: none;
        margin: 0 auto;
    }

    .music__macbook-advantages div {
        margin-top: 18px;
    }

    .music__inspiration_block div:before {
        left: -26px;
        width: calc(100% + 52px);
    }
}

@media screen and (max-width: 640px) {
    .music__main_block h2 {
        font-size: 42px;
    }

    .main-music-h3 {
        margin-top: 10px;
        font-size: 32px;
    }

    .music__main_block {
        padding: 128px 98px;
    }

    .video-music__main_text {
        margin: 0 0 42px 0;
        float: none;
        width: 100%;
    }

    .music-inside {
        padding: 40px 26px;
    }

    .music__inspiration_block .music-h3 {
        padding-right: 20px;
        margin-bottom: 24px;
    }

    .display-img-desktop {
        display: none;
    }

    .display-img-mobile {
        display: block;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .content__music-inside p {
        margin-bottom: 24px;
    }

    .music-h3 {
        font-size: 28px;
    }

    .music__macbook h3 {
        margin-top: 10px;
    }

    .frameworks-recommendations img {
        margin: 0 auto;
        float: none;
    }

    .frameworks-recommendations h3 span {
        margin-top: 20px;
    }

    .program-macos__item {
        width: 100%;
    }

    .frameworks .display-img-mobile {
        margin: 0 auto;
    }

    .program-macos .p-last-child {

    }

    .for-creating-tracks__content-block .float-right {
        margin-bottom: 25px;
        margin-left: 0;
    }

    .for-creating-tracks__content-block .float-left {
        margin-bottom: 18px;
    }

    .video-in-detail {
        height: 278px;
    }
}

@media screen and (max-width: 420px) {
    .music__main_block {
        background: url(main-block-img-mob.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .music__main_block h2 {
        font-size: 35px;
    }

    .main-music-h3 {
        margin-top: 10px;
        font-size: 30px;
    }

    .video-music__main_text {
        width: 100%;
    }

    .content__music-inside p {
        text-align: center;
    }

    .program-macos__items p,
    .program-macos__items div {
        text-align: left;
    }


    .content__music-inside p {
        font-size: 18px;
    }

    .display-text-mobile {
        display: block;
    }

    .display-text-desktop {
        display: none;
    }

    .display-img-mobile {
        width: 100%;
    }

    .music__inspiration_block .music-h3 {
        transform: none;
        margin: 0 15px 26px 15px;
    }

    .music__macbook h3 {
        font-size: 22px;
        margin-top: 22px;
        margin-left: 15px;
    }

    .music__macbook-advantages p,
    .music__macbook-advantages div {
        margin-left: 20px;
    }

    .for-creating-tracks h3 {
        margin: 0 15px 10px 15px;
    }

    .program-macos__item {
        padding: 18px 22px;
        margin-bottom: 20px;
    }

    .program-macos .p-last-child {
        margin-bottom: 10px;
    }

    .for-creating-tracks__content-block p,
    .for-creating-tracks__content-block div {
        text-align: left;
        margin-left: 20px;
    }

    .for-creating-tracks__content-block .float-left {
        display: none;
    }

    .for-creating-tracks__content-block .float-right {
        margin-bottom: 6px;
    }

    .music__macbook-advantages p,
    .music__macbook-advantages div {
        text-align: left;
        margin-left: 20px;
    }
}

